#body{
    width: auto;
    height: auto;

    margin: 350px;
    color: #000;
    background-color: #fff;
  }

h1{
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
}

p{ text-align: center; }

@media only screen and (max-width: 883px){
    #body{  
        width: auto;
        height: auto;

        margin-left: 100px;
        margin-right: 100px;
        color: #000;
        background-color: #fff;
      }
}