@charset "UTF-8";
/* global glasses */
*{
  box-sizing: border-box;
}

/* classes html document */
html{
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
  text-decoration-style: none;
}
a:visited{
  text-decoration: none;
  text-decoration-style: none;
  color: rgba(0,29,255);
}

#body{
  width: auto;
  height: auto;
  margin: 50px;
  color: #000;
  background-color: #fff;
}

.introText{
  margin-top: 250px;
  margin-bottom: 155px; 
  margin-left: 100px;
  margin-right: 300px;
 
  font-size: 45px;
  font-weight: 600;
  line-height: 150%;
}

.textGrad{/* Font Background Settings */
background-image: -webkit-gradient(linear, left top, right top, color-stop(1, #001dff), color-stop(.40, #ae00ff), color-stop(.30, #ff00ee));
background-image: gradient( linear, left top, right top, color-stop(.45, #001dff), color-stop(0.98, #4c00ff), color-stop(0.98, #ae00ff));
color:transparent;
-webkit-background-clip: text;
background-clip: text;
}

.link{
  padding: 5px;
  color: rgba(0,29,255);
  font-size: 12px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 3px;
  position: relative;
  top: 150px;
  left: 95px;
}

.recentProjects{
  padding-top: 5px;
  padding-bottom: 100px;
  padding-left: 5px;
  padding-right: 5px;

  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 3px;
  position: absolute;
  top: 600px;
  left: 140px;
}


/* Project links */
.projectLink{
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 25px;
  margin-left: 47px;

  text-decoration: none;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: .5px;
  color: rgba(0,29,255);

  position: relative;
}

.projectLink:visited{
  margin-top: 250px;
  margin-left: 90px;
  padding: 5px;

  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: .5px;
  color: rgba(0,29,255);

  position: absolute;
  top: 400px;
  left: 45px;
}

.hiddenLink{
  margin-top: 250px;
  margin-left: 90px;
  padding: 5px;

  font-size: 20px;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: .5px;
  color: rgba(0,29,255);

  position: absolute;
  top: 470px;
  left: 45px;
}

@media only screen and (max-width: 600px){
  #body{ margin: 0px; }

  .link{
    display: inline-block;
    padding: 5px;
    color: rgba(0,29,255);
    font-size: 9px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 3px;
    position: relative;
    top: 155px;
    left: 10%;
  }

  .introText{
    margin-top: 65%;
    margin-bottom: 25%; 
    margin-left: 11%;
    margin-right: 0%;
   
    font-size: 150%;
    font-weight: 600;
    line-height: 150%;
  }

  .recentProjects{
    padding: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 3px;
    position: relative;
    top: 0px;
    left: 11%;
  }

}