html{font-family: Arial, Helvetica, sans-serif;}

body{
    margin: 0 auto;
    padding: 0 auto;
}

.leftSide{
    position: fixed;
    padding-top: 190px;
    padding-bottom: 190px;
    padding-left: 70px;

    font-size: 5em;
    width: 50%;
    height: auto;
}

.rightSide{
    position: relative;
    left: 700px;

    width: 350px;
    height: 950px;

    background: blue;

    padding-top: 900px;
    padding-left: 90px;
    padding-right: 300  px;

  

    font-size: 1em;
}

.rightSide > h3{font-weight: 500;}