body{
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
    color: #fff;
    animation-name: bgAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

h3{
    margin-top: 15%;
    margin-right: 1%;
    font-size: 4em;
    line-height: 5.5rem;
}

a{text-decoration: none;}

button{
    width: auto;
    color: #fff;
    height: 70px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: 2px;
    border-style: none;
    text-decoration: none;
    background: none;
    border-color: #fff;
    border-width: 12px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-right: none;
    transition: all 1s ease;
}

button:hover{
    background: none;
    border-color: #fff;
    border-width: 70px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-right: none;
    transition: all 1s ease;
    cursor: pointer;
}


.main{
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 15%;
}

.aboutContent{
    margin-top: 13%;
    float: right;
    width: 65%;
    height: 100%;    
}

.main > h1{
    font-size: 4em;
    line-height: 5.5rem;
}

.main>.aboutContent>h2{
    font-size: 2em;
    line-height: 3rem;
}

.main>nav>a{
    margin-right: 30px;
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .1em;
    font-weight: bolder;
    text-decoration: none;
    border-width: 0px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;

    transition: all .2s ease;
}

.main>nav>a:hover{
    text-transform: uppercase;
    letter-spacing: .1em;
    text-decoration: none;
    border-width: 4px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    transition: all .5s ease;
}

.profile{
    margin-top: 10%;
    margin-right: 5%;
    max-width: 30%; 
    min-width: 10%;
}

.socialMedia{
    margin-top: 50px;
    text-decoration: none;
}

.socialMedia>a{text-decoration: none;}

.svg{
    margin-right: 2%;
    width: 30px;
    height: 30px;
    text-decoration: none;
    transition: all .1s ease;
}

.svg:hover{
    margin-right: 2%;
    width: 30px;
    height: 30px;
    transform: scale(1.5) rotate(-10deg);
    transition: all .2s ease;
}

/* Animations */
@keyframes bgAnimation {
    0%{background: green;}
  
    50%{background: blue;}
  
    70%{background: red;}
  
    100%{background: orange;}
  }

/* Laptops */
@media screen and (max-width: 1439px){
    button{margin-top: 5%;}
    .main{
        margin-top: 15%;
        margin-left: 5%;
        margin-right: 10%;
        padding-top: 150px;
    }
   
    .main > h1{
        font-size: 2.5em;
        line-height: 3.5rem;
        text-align: left;
    }

    .main{
        margin-top: 17%;
        margin-left: 3%;
        margin-right: 3%;
    }

    .socialMedia{
        width: 200px;
        height: 50px;
    }

    .socialMedia>a{margin-right: 12px;}

    /* --- ABOUT PAGE START --- */
    .aboutContent{
        margin-top: 10%;
        float: right;
        width: 65%;
        height: 50%;    
    }

    .main>.aboutContent>h2{
        font-size: .5em;
        line-height: 3rem;
    }

    .aboutDetails{
        margin-top: 25%;
        margin-right: 10%;
    }
    
    .aboutDetails>h3{
        font-size: 2em;
        line-height: 3rem;
    }

    .main>.aboutContent>h2{
        font-size: 2em;
        line-height: 3rem;
    }

    .profile{
        margin-top: 10%;
        margin-right: 5%;
        max-width: 30%; 
        min-width: 10%;
    }
    /* --- ABOUT PAGE END --- */
}

/* Tablets */
@media screen and (max-width: 999px){
    .main{
        margin-top: 15%;
        margin-left: 5%;
        margin-right: 10%;
        padding-top: 150px;
    }
   
    .main > h1{
        font-size: 2.5em;
        line-height: 3.5rem;
        text-align: left;
    }

    .main{
        margin-top: 17%;
        margin-left: 3%;
        margin-right: 3%;
    }

    .socialMedia{
        width: 200px;
        height: 50px;
    }

    .socialMedia>a{margin-right: 12px;}

    /* --- ABOUT PAGE START --- */
    .aboutContent{
        margin-top: 5%;
        float: right;
        width: 65%;
        height: 50%;    
    }

    .main>.aboutContent>h2{
        font-size: .5em;
        line-height: 3rem;
    }

    .aboutDetails{
        margin-top: 25%;
        margin-right: 10%;
    
    }
    
    .aboutDetails>h3{
        font-size: 1.5em;
        line-height: 2rem;
    }

    .main>.aboutContent>h2{
        font-size: 2em;
        line-height: 3rem;
    }

    .profile{
        margin-top: 10%;
        margin-right: 5%;
        max-width: 30%; 
        min-width: 10%;
    }
    /* --- ABOUT PAGE END --- */
}

/* Phones */
@media screen and (max-width: 768px){
    h3{margin-top: 0;}
    .main{
        margin-top: 100%;
        margin-left: 5%;
        margin-right: 10%;
        padding-top: 150px;
    }
   
    .main > h1{
        font-size: 1.5em;
        line-height: 2rem;
        text-align: center;
    }

    .main{
        margin-top: 17%;
        margin-left: 3%;
        margin-right: 3%;
    }

    .socialMedia{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 200px;
        height: 50px;
    }

    .main>nav{
        text-align: center;
        width: auto;
        height: 100px;
        margin: auto;
    }
    .main>nav>a{
        margin-right: -5px;
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        font-size: .2em;
        letter-spacing: .1em;
        font-weight: bolder;
        text-decoration: none;
    }

     /* --- ABOUT PAGE START --- */
    .aboutContent{display: none;}

    .aboutDetails{
        margin-top: 0%;
        margin-left: 10%;
    }
    
    .aboutDetails>h3{
        text-align: justify;
        font-size: 1em;
        line-height: 1.5rem;
    }

    .main>.aboutContent>h2{
        font-size: 2em;
        line-height: 3rem;
    }

    .profile{
        max-width: 100%; 
        min-width: 10%;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        transform: scale(.8);
    }

    button{
        margin-top: 15%;
        border-width: 5px;
        height: 50px;
        transition: all 1s ease;
    }    
    /* --- ABOUT PAGE END --- */

}