body{
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
    color: #fff;
    animation-name: bgAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.main{
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 15%;
}

.main > h1{
    font-size: 4em;
    line-height: 5.5rem;
}

.main>nav>a{
    margin-right: 30px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .1em;
    font-weight: light;
    text-decoration: none;
    transform: scale(0);

    transition: all 1s ease;
}

.main>nav>a:hover{
    text-transform: uppercase;
    color: rgb(255, 101, 101);
    font-size: 3em;
    letter-spacing: .1em;
    text-decoration: none;
    transition: all 1s ease;
}

.socialMedia{
    margin-top: 50px;
    text-decoration: none;
}

.socialMedia>a{text-decoration: none;}

.svg{
    margin-right: 2%;
    width: 30px;
    height: 30px;
    text-decoration: none;
    transition: all .1s ease;
}

.svg:hover{
    margin-right: 2%;
    width: 30px;
    height: 30px;
    transform: scale(1.5) rotate(-10deg);
    transition: all .2s ease;
}

/* Animations */
@keyframes bgAnimation {
    0%{background: green;}
  
    50%{background: blue;}
  
    70%{background: red;}
  
    100%{background: orange;}
  }

/* Tablets */
@media screen and (max-width: 768px){
    .main{
        margin-top: 100%;
        margin-left: 5%;
        margin-right: 10%;
        padding-top: 150px;
    }
   
    .main > h1{
        font-size: 2.5em;
        line-height: 3.5rem;
        text-align: left;
    }

    .main{
        margin-top: 17%;
        margin-left: 3%;
        margin-right: 3%;
    }

    .socialMedia{
        width: 200px;
        height: 50px;
    }

    .socialMedia>a{margin-right: 12px;}
}

/* Phones */
@media screen and (max-width: 425px){
    .main{
        margin-top: 100%;
        margin-left: 5%;
        margin-right: 10%;
        padding-top: 150px;
    }
   
    .main > h1{
        font-size: 1.5em;
        line-height: 2rem;
        text-align: center;
    }

    .main{
        margin-top: 17%;
        margin-left: 3%;
        margin-right: 3%;
    }

    .socialMedia{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 200px;
        height: 50px;
    }
}